@import "~bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Ubuntu", sans-serif;
}

form label:after {
	content: ":"
}

.icon {
	font-style: normal;
	vertical-align: text-bottom;
}

.icon.user-icon:before {
	content: "\1F464"
}

.top_menu {
	background-color: #ffffff;
	border-radius: 0 0 0 8px;
	box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
	color: #b8b8b8;
	padding: 16px;
}

.buttons .button {
	border-radius: 50%;
	display: inline-block;
	height: 16px;
	margin-left: 2px;
	position: relative;
	width: 16px;
}

.buttons .button.close-button {
	background-color: #f5886e;
}

.buttons .button.minimize {
	background-color: #fdbf68;
}

.buttons .button.maximize {
	background-color: #a3d063;
}

.messages {
	overflow-y: scroll;
}

.messages .message {
	clear: both;
	margin-bottom: 20px;
	opacity: 0;
	overflow: hidden;
	transition: all 0.5s linear;
}

.messages .message.left .avatar {
	background-color: #f5886e;
	float: left;
}

.messages .message.left .text_wrapper {
	background-color: #ffe6cb;
	margin-left: 20px;
}

.messages .message.left .text_wrapper::after, .messages .message.left .text_wrapper::before {
	border-right-color: #ffe6cb;
	right: 100%;
}

.messages .message.left .text {
	color: #c48843;
}

.messages .message.right .avatar {
	background-color: #fdbf68;
	float: right;
}

.messages .message.right .text_wrapper {
	background-color: #c7eafc;
	float: right;
	margin-right: 20px;
}

.messages .message.right .text_wrapper::after, .messages .message.right .text_wrapper::before {
	border-left-color: #c7eafc;
	left: 100%;
}

.messages .message.right .text {
	color: #45829b;
}

.messages .message.appeared {
	opacity: 1;
}

.messages .message .avatar {
	border-radius: 50%;
	display: inline-block;
	height: 60px;
	width: 60px;
}

.messages .message .text_wrapper {
	border-radius: 6px;
	display: inline-block;
	min-width: 100px;
	padding: 20px;
	position: relative;
	width: calc(100% - 85px);
}

.messages .message .text_wrapper::after, .messages .message .text_wrapper:before {
	border: solid transparent;
	content: " ";
	height: 0;
	pointer-events: none;
	position: absolute;
	top: 18px;
	width: 0;
}

.messages .message .text_wrapper::after {
	border-width: 13px;
	margin-top: 0;
}

.messages .message .text_wrapper::before {
	border-width: 15px;
	margin-top: -2px;
}

.messages .message .text_wrapper .text {
	font-size: 18px;
	font-weight: 300;
}

.footer {
	border-radius: 8px 0 0 0;
	box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
	padding: 8px 16px 0;
}
